body {
    background-color: #F0E0CF;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.active {
    background-color: #F0E0CF;
}

ul.nav li a {
    align-content: center;
    display: block;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 30px;
}

ul.nav li:hover:not(.active) {
    background-color: #A9BEBE;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 24.4% 24.4% 24.4% 24.4%;
}

.grid-item {
    background-color: #A9BEBE;
    align-content: center;
    padding: 10px;
    color: #03093E;
}

.image, .nav-menu {
    background-color: #F0C56B;
}

.nav-menu {
    grid-column: 1;
    grid-row: 1 / span 4;
}

.header {
    grid-row: 1;
    grid-column: 2 / span 3;
    text-align: center;
    font-size: 30px;
}

.header-image1 {
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
}

.dividing-bar {
    grid-column: 1 / span 4;
    grid-row: 5;
    width: 100%;
    height: 0px;
    border-bottom: 4px dotted #021056;
    font-size: 0px;
}

.video {
    grid-row: 6;
    grid-column: 1 / span 2;
}

.intro-text {
    grid-row: 6;
    grid-column: 3 / span 2;
    font-size: 20px;
}

.who-are-we {
    grid-row: 7;
    grid-column: 1 / span 2;
    font-size: 20px;
}

.home-image2 {
    grid-row: 7;
    grid-column: 3 / span 2;
}

.lpc-food {
    grid-row: 6;
    grid-column: 1 / span 3;
    font-size: 20px;
}

.food-picture {
    grid-row: 7;
    grid-column: 1 / span 3;
}

.other-food {
    grid-row: 8;
    grid-column: 1 / span 3;
    font-size: 20px;
}

.food-prices {
    grid-row: 6 / span 3;
    grid-column: 4;
    font-size: 20px;
    display: block;
}

.footer { /* change in head style to be the correct grid row*/
    grid-row: 8;
    grid-column: 1 / span 4;
    text-align: center;
}

.headerimage {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p, table, ul, ol, li {
    font-family: "new-zen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "new-zen", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-family: "new-zen", sans-serif;
    font-weight: 700;
    font-style: italic;
}